@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&family=Bruno+Ace+SC&family=Charmonman:wght@400;700&family=Cinzel:wght@600&family=Genos&family=Monoton&family=Montez&family=Montserrat:wght@400;600&family=Neucha&family=Nixie+One&family=Sacramento&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: auto;
}




/* ===================================================== Sectional gap ========================================== */




::-webkit-scrollbar {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
}



body {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat', sans-serif;
  background-color: darkblue;
  color: white;
}


/* ===========================================================  Logo and Navigation ==========================================*/

.logo {
  border-left: 3px solid red;
  padding-left: 2rem;
  color: red;
  cursor: pointer;
}



nav {
  position: fixed;
  height: 5rem;
  width: 100%;
  background-color: darkblue;
  box-shadow: 0 0 10px 20px darkblue;
  z-index: 2;
}


.container {
  max-width: 1100px;
  margin: 0 auto;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
}

nav a {
  font-size: .8rem;
  font-weight: 600;
  color: white;
  transition: .5s;
  font-weight: 600;

}


nav a:hover {
  color: rgb(77, 74, 74);
}



nav li {
  display: inline-flex;
  margin: 1.5rem;

}

/* ===========================================================  Socials ==========================================*/

.socials {
  padding: 1rem .5rem;
  padding-bottom: .7rem;
  border: 1px solid blue;
  background-color: blue;
  box-shadow: 0 0 5px 0 blue;
  margin: .4rem;
  transition: .5s;
}

.socials:hover {
  box-shadow: 0 0 5px 0 white;
  background-color: red;
  border: 1px solid white;

}

.shalls {
  transition: .5s;
  font-size: 10rem;
  padding: 2px;
  color: white;
}


/* ===========================================================Header==========================================*/

header {
  padding-top: 10rem;
  padding-bottom: 8rem;
  border-bottom: none;
}

header h1 {
  font-size: 3rem;
  font-family: 'Monoton', cursive;
  color: silver;
  font-weight: 600;
}


header h2 {
  font-family: 'Montez', cursive;
  font-size: 1.6rem;
  color: blue;
}

.header__container p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 1rem 0;

}

.header__intro {
  padding-right: 6rem;
}


header span {
  color: red;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1rem;
}



h1 {
  font-size: 4.5rem;
  margin: .2rem;
  color: silver;
  font-weight: 700;
  font-family: 'Montez', cursive;
}

span {
  font-weight: 600;
}


.header__container {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 4rem;

}



.image__container img {
  max-height: 300px;
  object-fit: contain;
  width: fit-content;
}



.Download {
  background-color: blue;
  padding: .81rem 1rem;
  color: white;
  font-weight: 600;
  box-shadow: 0 0 7px 0 blue;
  transition: .5s;

}

.Download:hover {
  color: white;
  background-color: darkred;
  box-shadow: 0 0 10px 0 red;
  transform: scale(2);

}


/* ===========================================================Footer==========================================*/
footer {
  height: 5rem;
  width: 100%;
  padding: 2rem 0;
}

.footer__container {
  margin-top: 40px 20px;
  text-align: center;
  display: block;
}

.footer__container p {
  color: red;
  font-family: 'Montez', cursive;
  font-weight: 600;
  font-size: 1.5rem;
}




/* ===========================================================About==========================================*/
section {
  padding: 1rem 0;
}

.heading {
  padding: 7rem;
}



.about__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.card {
  padding: 2rem 2rem;
  box-shadow: 0 0 10px 0 white;
  border-radius: 4rem 0 4rem 0;
  background-color: silver;
  transition: .5s;
  color: darkblue;
}

.card:hover{
  transform: translateY(-15px);
}


.explanation p {
  color: darkblue;
  text-align: justify;
}


#three {
  box-shadow: 0 0 7px 0 blue;
  font-family: 'Nixie One', cursive;
}


.what__container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 3rem;
  padding: 6rem 4rem;
}



.what__container h1 {
  font-size: 4rem;
}

.continue {
  text-align: justify;
}

.what__container span {
  color: silver;
}

.carded {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.carded h1 {
  color: blue;
}


.intro {
  display: flex;
  align-items: center;
  text-align: justify;
  padding: 3rem;
  border: 2px solid white;
  box-shadow: 0 0 5px 0 blue;
  border-radius: 8px;
}


.explanation__tag p {
  font-size: .9rem;
  color: darkblue;
  text-align: center;
}

/* =========================================================== Project Container =================================================== */

.project__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  align-items: center;
}


.project__link{
  color: red;
}

/* =========================================================== Process Container =================================================== */

.process__container {
  display: flex;
  column-gap: 3rem;
  align-items: center;
  justify-content: space-between;

}

.process p{
  color: wheat;
}

.process h2{
  color: white;
}

#process__container {
  padding: 6rem 2.5rem;
}

.process__title {
  display: flex;
  justify-content: center;
  color: blue;
}

#process__icon {
  color: blue;
  font-weight: 600;
}


/* =========================================================Contact =================================================================*/

.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7rem 10rem;
}

.contact__container p {
  text-align: justify;
  line-height: 30px;
  color: wheat;
}

.contact__container h3 {
  color: silver;
}

.contact__container h1 {
  color: blue;
  text-align: center;
}



.proj__container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10rem 2.5rem;
}


.open__btn {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.close__btn {
  display: none;
  color: white;
  padding-left: .5rem;
  padding-top: .5rem;
  background-color: transparent;
  border: none;
  outline: none;
}

.former {
  background-color: darkblue;
  padding: 0;
  box-shadow: 0 0 10px 0 silver;
  color: white;

}

.fox {
  display: flex;
  flex-wrap: wrap;
}

.fomix {
  padding-bottom: 0rem;
}

.fox input {
  width: 17rem;
}

.form__container {
  padding: 9rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  font-family: 'Montez', cursive;
  font-weight: 600;
  font-size: 1.5rem;
}

.form__container label {
  color: white;
  padding: .5rem;
}

.message input {
  width: 36rem;
  height: 5rem;
}

.form__container input {
  outline: none;
  border: none;
  background-color: blue;
  font-size: 1rem;
  padding-left: .3rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}


.submit__btn {
  display: flex;
  justify-content: center;
}



.submit__btn input {
  padding: .7rem 1rem;
  box-shadow: 0 0 5px 0 skyblue;
  font-family: 'Montez', cursive;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .5s;
  font-weight: 600;
  background-color: wheat;
  color: black;
}


.submit__btn input:hover {
  background-color: red;
  box-shadow: 0 0 5px 0 red;
}






















/* ======================================================== screen sizes =================================== */

@media screen and (max-width:1024px) {

  header span {
    font-size: 1rem;
  }

  .open__btn {
    display: block;
    color: blue;
    cursor: pointer;
  }

  .close__btn {
    display: block;
  }

  .header__intro {
    padding-right: 0;
  }

  .logo {
    padding: .8rem;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .header__container {
    column-gap: 2rem;
  }



  nav {
    height: 3rem;
  }


  .menu {
    position: absolute;
    width: 100vw;
    height: 80vh;
    top: 0rem;
    background-color: rgba(0, 20, 100, 0.9);
    box-shadow: 0 0 10px 0 black;
    z-index: 2;
    display: none;
    transition: .5s;
  }


  .hide__menu {
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    top: 0rem;
    background-color: rgba(0, 20, 100, 0.9);
    box-shadow: 0 0 10px 0 black;
    z-index: 2;
    display: none;
    transition: .5s;
  }

  .btn {
    border: none;
    outline: none;
    background-color: transparent;
  }

  .show__menu {
    position: absolute;
    width: 100vw;
    height: 80vh;
    top: 0rem;
    background-color: rgba(0, 20, 100, 0.9);
    box-shadow: 0 0 10px 0 black;
    z-index: 2;
    display: block;
    transition: .5s;
  }



  .show__menu a {
    color: silver;
    font-size: 2rem;
    font-family: 'Sacramento', cursive;

  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .process__title {
    font-size: 3.5rem;
  }


  .process h2 {
    font-size: 1.2rem;
  }


  header h1 {
    font-size: 3rem;
    color: white;
  }


  .contact__container h1 {
    font-size: 3rem;
  }

  .contact__container {
    padding: 2rem;
    padding-bottom: 3rem;
  }

  .contact__container p{
    font-size: .9rem;
    line-height: 20px;
  }

  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }



  .fox {
    display: flex;
    flex-direction: column;
  }

  .message {
    display: flex;
    flex-direction: column;
  }

  .message input {
    width: 17rem;
  }

  .proj__container h1{
    font-size: 2rem;
  }
}


/* =========================== Media query for Phone =============================  */

@media screen and (max-width:600px) {

  .socials {
    padding: .3rem .3rem;
    padding-bottom: .7rem;
    border: 1px solid blue;
    background-color: blue;
    box-shadow: 0 0 5px 0 blue;
    margin: .4rem;
    transition: .5s;
  }

  .open__btn {
    display: flex;
    padding-right: 4rem;
  }

  .close__btn {
    display: block;
  }

  .logo h3 {
    font-size: 1rem;
  }

  .Download {
    background-color: blue;
    font-size: 1rem;
    padding: .5rem;
  }

  .header__intro p {
    text-align: center;
  }

  .logo {
    padding: .8rem;
  }

  .container {
    max-width: 95%;
    margin: 0 auto;
  }

  .header__container {
    column-gap: 2rem;
    grid-template-columns: 1fr;
  }



  .so__icons {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 4px;
    top: 0;
  }

  nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .process__container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    place-content: center;
  }

  .process {
    padding: 2rem 2rem;
    box-shadow: 0 0 10px 0 blue;
    background-color: darkblue;
    transition: .5s;
  }

  #process__container {
    padding: 1rem 1rem;
  }

  .process__title {
    font-size: 2.5rem;
  }

  .process h2 {
    font-size: 1.2rem;
  }

  .process p {
    font-size: 1rem;
  }

  header span {
    font-size: 1rem;
  }

  header h1 {
    font-size: 2rem;
    text-align: center;
  }

  header h2 {
    font-size: 1.4rem
  }

  .header__container p {
    font-size: 1rem;
  }

  .contact__container h1 {
    font-size: 2rem;
    text-align: center;
  }

  .contact__container {
    place-content: center;
    padding: 1rem;
  }


  .contact__container h3 {
    font-size: .8rem;
    text-align: center;
  }

  .contact__plug p {
    font-size: .9rem;
  }


  .image__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title__three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  .image__container img {
    width: fit-content;
    height: 200px;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .about__container {
    display: grid;
    grid-template-columns: 1fr;
  }


  .fox {
    display: flex;
    flex-direction: column;
  }

  .message {
    display: flex;
    flex-direction: column;
  }

  .message input {
    width: 17rem;
  }

  footer p {
    font-size: 1rem;
    text-align: center;

  }


}